html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

section {
  background: url('../img/Netherlands_Houses_495346.jpg') no-repeat center
    center fixed;
  background-size: 'cover';
  object-fit: fill;
  font-family: 'ZCOOL XiaoWei', serif;
  min-width: 600px;
}
.searchOverlay {
  padding: 0 15px;
}
.searchContainer {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
.searchInnerContainer {
  margin: 50px 15px 50px;
  padding: 25px 0;
  color: rgba(150, 150, 243, 0.6);
  background: rgba(12, 77, 162, 0.6);
  border-radius: 15px;
  text-transform: uppercase;
}
.text-uppercase {
  color: white;
  font-weight: 700 !important;
}
form {
  margin-top: 0em;
}
.searchBar {
  padding: 40px 20px 30px 20px;
}
.searchList {
  display: grid;
  grid-template-columns: auto auto auto;
  background: rgba(33, 150, 243, 0.6);
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}
div {
  justify-content: left;
}
ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}
.searchListHelp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  justify-items: stretch;
  border-radius: 5px;
  background: rgba(33, 150, 243, 0.6);
  padding: 10px;
}
.searchElem {
  background-color: rgba(0, 101, 184, 0.6);
  border: 1px solid rgba(12, 77, 162, 0.6);
  font-size: 30px;
  text-align: center;
  padding: 15px;
}
.atomElem {
  align-items: center;
  width: 280px;
}
.labelElem {
  color: rgba(150, 150, 243, 0.6);
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal !important;
}
.inLineBlock {
  display: inline-block;
}

.buttonStyleI {
  background: rgba(150, 150, 243, 0.6);
  border: 1px dashed rgba(0, 101, 184, 0.6);
  border-radius: 10px;
}
.buttonStyleI:hover {
  background: rgba(0, 101, 184, 0.6);
}
.svgClass {
  width: 80px;
  height: 80px;
}
